.counter {
  margin: 0 auto;

  &__loading {
    .spinner {
      background-color: transparent;
      height: 50px;
      width: 50px;
      border: 2px solid #ccc;
      border-radius: 50%;
      border-top-color: red;
      animation: spin 0.5s linear infinite;

      @keyframes spin {
        to {
          transform: rotate(360deg);
        }
      }
    }
  }

  &__wrapper {
    display: flex;

    .time {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px;

      @media (min-width: 400px) {
        padding: 25px;
      }

      span {
        font-size: 1.875rem;

        @media (min-width: 400px) {
          font-size: 2.5rem;
        }

        & + span {
          font-size: 14px;
          color: #ccc;
        }
      }
    }
  }
}
