.header {
  height: 5rem;
  background-color: transparent;
  position: fixed;
  width: 100%;
  position: fixed;

  z-index: 10;
  .container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 0.9375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .logo {
    font: 700 1.5625rem 'Montserrat', sans-serif;
    color: var(--off-white);
  }
}
