.banner {
  padding: 1.25rem 1.5625rem;
  position: relative;
  color: var(--off-white);
  width: 100%;
  min-height: 18.125rem;
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.4) 50%,
    rgba(0, 0, 0, 0.8) 100%
  );

  @media (min-width: 768px) {
    padding: 1.875rem;
    height: 18.125rem;
  }

  .customImg {
    object-fit: cover;
    width: 100% !important;
    height: unset !important;
    z-index: -1;
    opacity: 0.95;
    object-position: right;
  }

  &__wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    @media (min-width: 768px) {
      width: 60%;
    }

    h2 {
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      font-weight: 900;
      margin-bottom: 0.9375rem;
    }

    p {
      font-size: 1.125rem;
      font-weight: 100;
      margin-bottom: 1.5625rem;
    }
  }
}
